.bg-secondary {
    background-color: #05004e !important;
}

.copyright {
    background-color: #fb7777;
}

.bg-primary {
    background-color: #ff0000 !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;

    object-fit: cover;
}
